<?xml version="1.0" encoding="UTF-8"?>
<!--

-->
<configuration scan="true" scanPeriod="5 seconds">

    <!--  动态路径的2种方式  -->
<!--    <contextListener class="me.ely.logger.MyLogContextListener" />-->
<!--    <property name="LOG_PATH" value="${user.home}/logs"/>-->
    <property name="LOG_PATH" value="${user.dir}/logs"/>

    <property name="APP_NAME" value="hello-slf4j-with-logback" />
    <property name="LOG_FILE_ALL" value="${LOG_PATH}/${APP_NAME}/${APP_NAME}_all.log"/>
    <property name="LOG_FILE_WARN" value="${LOG_PATH}/${APP_NAME}/${APP_NAME}_warn.log"/>
    <property name="LOG_FILE_ERROR" value="${LOG_PATH}/${APP_NAME}/${APP_NAME}_error.log"/>

<!--    <property name="LOG_PATTERN" value="${LOG_PATTERN:-%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } %X{traceId:-00000000000000000000000000000000} -&#45;&#45; [%t] %-40.40logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>-->
    <property name="LOG_PATTERN" value="[%date{yyyy-MM-dd HH:mm:ss}] [%-5level] [%thread] [%logger:%line]-- %msg%n"/>

    <!--  appender 是用来定义日志如何输出  -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE_ALL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_FILE_ALL}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <cleanHistoryOnStart>${LOG_FILE_CLEAN_HISTORY_ON_START:-false}</cleanHistoryOnStart>
            <fileNamePattern>${LOG_FILE_ALL}.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxFileSize>${LOG_FILE_MAX_SIZE:-10MB}</maxFileSize>
            <maxHistory>${LOG_FILE_MAX_HISTORY:-7}</maxHistory>
            <totalSizeCap>${LOG_FILE_TOTAL_SIZE_CAP:-0}</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="FILE_WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_FILE_WARN}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <cleanHistoryOnStart>${LOG_FILE_CLEAN_HISTORY_ON_START:-false}</cleanHistoryOnStart>
            <fileNamePattern>${LOG_FILE_WARN}.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxFileSize>${LOG_FILE_MAX_SIZE:-10MB}</maxFileSize>
            <maxHistory>${LOG_FILE_MAX_HISTORY:-7}</maxHistory>
            <totalSizeCap>${LOG_FILE_TOTAL_SIZE_CAP:-0}</totalSizeCap>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_FILE_ERROR}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <cleanHistoryOnStart>${LOG_FILE_CLEAN_HISTORY_ON_START:-false}</cleanHistoryOnStart>
            <fileNamePattern>${LOG_FILE_ERROR}.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxFileSize>${LOG_FILE_MAX_SIZE:-10MB}</maxFileSize>
            <maxHistory>${LOG_FILE_MAX_HISTORY:-7}</maxHistory>
            <totalSizeCap>${LOG_FILE_TOTAL_SIZE_CAP:-0}</totalSizeCap>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>


    <!--  root 和 logger 都是用来设置日志级别的, 一个是设全局, 一个是设置指定类或者包  -->
    <!--
    <root level="日志级别>
        <appender-ref ref="指定日志Appender"/>
    </root>

    <logger name="类名或包名" level="日志级别" additivity="false">
        <appender-ref ref="指定日志Appender"/>
    </logger>
    -->


    <!--  root 是设置全局日志级别  -->
    <root level="debug">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE_ALL"/>
        <appender-ref ref="FILE_WARN"/>
        <appender-ref ref="FILE_ERROR"/>
    </root>
    <!--
    <logger name="org.apache.hadoop.hbase.client" level="TRACE" additivity="false">
        <appender-ref ref="rollingFileAppender"/>
    </logger>
    <logger name="httpclient" level="WARN"/>
    -->



</configuration>